@media (max-width: 987px) {
    main {
        margin: 0 50px;
        
    }
     .nav{
        min-width: 500px;
    }

    .first_pera {
        width: 350px;
         margin-left: 30px;
    }

    .text {
        width: 350px;
        margin-left: 30px;
    }

    .secend_pera {
        width: 350px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 30px;
 
    }
    .secend_pera img{
     width:330px ;
     padding: 30px 0;
    }

    .innertext {
        line-height: block;
        width: 350px;
        padding: 20px;
    }

    .secendtext {
        margin: 100px 0;
        margin-left: 40px;
    }

 .video{
    margin-left: 25px;
    width: 350px;
} 

    iframe {
        height:200px ;
        width: 300px;
        border-radius: 20px;
    }

    .thirdtext {
        padding: 30px;
        margin-left: 30px;
    }

    .cards {
        margin-left: 70px;
    }

    footer {
        min-width: 500px;
    }
}

@media (max-width: 676px) and (min-width:543px) {
     .first_pera {
        min-width: 500px;
    }

     .text {
        width: 500px;
    }

    .secend_pera {
        width: 500px;
    }

    .secend_pera img{
     width:500px ;
    }

    .innertext {
        width: 500px;
    }

    .video{
    width: 500px;
} 

}


@media (max-width: 986px) and (min-width:675px){
          .first_pera {
        min-width: 700px;
    }

     .text {
        width: 700px;
    }

    .secend_pera {
        width: 700px;
    }

    .secend_pera img{
     width:700px ;
    }

    .innertext {
        width: 700px;
    }

    .video{
    width: 700px;
} 

}


